<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>글 쓰기</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid mt-3">
    <form class="hs input-group d-flex flex-column" action="">
        <label class="form-label">
            <input type="text" class="form-control" placeholder="제목"/>
        </label>
        <label class="form-label flex-fill">
            <textarea class="form-control" placeholder="본문 작성"></textarea>
        </label>
        <label class="form-label">
            <input type="password" class="form-control" placeholder="4자리 암호 입력" maxlength="4"/>
        </label>
        <label class="form-label">
            <button class="btn btn-primary form-control" type="submit">작성하기</button>
        </label>
        <label class="form-label">
            <button class="btn btn-outline-secondary form-control" type="submit">취소</button>
        </label>
    </form>
</div>

<script src="../js/bootstrap.min.js"></script>
</body>
<style>
    .hs {
        height: 97vh;
    }

    textarea {
        resize: none;
        height: 100%;
    }
</style>
</html>