<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>회원 가입</title>
    <link href="../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"
          rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <form class="d-flex flex-column vh-100 justify-content-center"
          action="/users" method="post"
          th:action="@{/users}" th:method="post"
            th:object="${user}">
        <h1 class="form-label align-self-center">회원 가입</h1>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="아이디"
                    th:field="*{userId}">
            <label for="floatingInput">아이디</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingPassword" placeholder="비밀번호"
                    th:field="*{password}">
            <label for="floatingPassword">비밀번호</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingName" placeholder="이름"
                    th:field="*{name}">
            <label for="floatingPassword">이름</label>
        </div>
        <div class="form-floating mb-3">
            <input type="date" class="form-control" id="floatingDate" placeholder="생년월일"
                    th:field="*{birthday}">
            <label for="floatingPassword">생일</label>
        </div>
        <div class="mb-3">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="sex" id="female"
                        th:field="*{sex}">
                <label class="form-check-label" for="female">
                    여성
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="sex" id="male"
                       th:field="*{sex}">
                <label class="form-check-label" for="male">
                    남성
                </label>
            </div>
        </div>
        <div class="d-grid gap-2">
            <button class="btn btn-primary" type="submit">가입 하기</button>
            <button class="btn btn-outline-secondary" type="button"
                    onclick="location.href='loginForm.html'"
                    th:onclick="|location.href='/login'|">취소</button>
        </div>
    </form>
</div>

</body>
</html>